<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %} {% endblock page_title %}</title>
</head>
<body>

    <a href="{% url 'home' %}">Home page</a>
    <a href="{% url 'about' %}">About Me</a>
    <a href="{% url 'contactus' %}">Contact Us page</a>

    <h1>{% block page_h1 %} {% endblock page_h1 %} </h1>
    {% block content %}

    {% endblock content %}
    
</body>
</html>