{% extends '_base.html' %}

{% block page_title %} About Me {% endblock page_title %}

{% block page_h1 %} {{page_name}} Page {% endblock page_h1 %}

{% block content %}

    <p>My website : About</p>


    <p>This is something said in context</p>

{% endblock content %}